body {
    background-color: #2b2b2b;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .top {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }

  .top img {
    margin-top: 10px;
    border-radius: 50%;
  }
  
  .rightofimg {
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: stretch;
  }

  header {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.6rem;
    color: rgb(255, 183, 0);
    justify-self: center;

    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 15px (255, 183, 0);
    letter-spacing: 1px;
  }
  
  nav {
    border: 3px solid black;
    border-radius: 15px;
    background-color: azure;
    display: flex;
    justify-content: space-evenly;
    padding: 9px;
    align-items: center;
    min-height: 40px;
    overflow: hidden;
    min-width: 760px;
  }

  nav ul li {
    align-self: center;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }


  .textsections {
    margin-top: 50px;
  }

  .textsections p {
    color: #d9d9d9;
  }

  .textsections ul li {
    color:  #d9d9d9;
  }


  h2 {
    color: rgb(255, 183, 0);
    font-size: 1.7rem;
    text-decoration: underline;
    text-align: left;
    margin-bottom: 20px;
  }
  
  h3 {
    color: #ffa500;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 2px solid #ffa500;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  